* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f9fafb;
    background: url(../images/coursebanner.avif) no-repeat top/cover;
    background-attachment: fixed;
    position: relative;
    object-position: top;
}

.coursebanner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.coursebanner img {
    width: 70%;
    height: auto;
}

/* 课程列表 */

.coursetitlebox {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.coursetitlebox2 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.coursetitle .coursetitle1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #383838;
}

.coursetitle .coursetitle2 {
    font-size: 24px;
    color: #383838;
}

.container2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1300px;
    color: #383838;
}

/* 响应式：3列 */
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 响应式：1列 */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #383838;
}

/* 悬停效果：向上浮动并加深阴影 */
.card:hover {
    box-shadow: 0 15px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-30px) scale(1.2);
}

.card-top img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-middle {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
    font-size: 14px;
    color: #555;
}

.card-bottom .left {
    text-align: left;
}

.card-bottom .right {
    text-align: right;
}
