* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, "Century Gothic", "PingFang SC", sans-serif, Arial, "Microsoft Yahei";
    background: #eeeeee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.resultsbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    min-height: 55vh;
}

.results {
    width: 50%;
    height: auto;
}

.results h1 {
    background: linear-gradient(to right, rgb(89, 0, 255), rgb(255, 0, 106));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
}

.results p {
    font-size: 18px;
    color: #282828;
    padding-bottom: 20px;
}

.search-bar {
    margin: 20px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.software-list {
    list-style-type: none;
    padding: 0;
}

.software-list li {
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.software-list :hover {
    transform: scale(1.08);
    border-color: #8400ff;
}

.software-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
